# Ignore node_modules (Frontend & Backend)
node_modules/

# Ignore Mac system files
.DS_Store

# Ignore environment files
.env

# Ignore logs
logs/
*.log

# Ignore build/output folders
dist/
build/

# Ignore VS Code settings (optional)
.vscode/

