.mascot-floating-panel {
  position: relative;
  flex: 1;
  background: linear-gradient(to bottom right, #f0f5ff, #dceeff);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  min-height: 100vh;
  width: 50%; 
  box-sizing: border-box;
}

.main-mascot {
  width: 720px;
  max-width: 100%;
  position: relative;
  border-radius: 5px;
}


.mascot-subtext {
  position: absolute;
  bottom: 4.5rem;
  text-align: center;
  width: 100%;
  font-size: 1rem;
  color: #f0f5ff;
  z-index: 4;
}



/* Mobile Responsive */
@media screen and (max-width: 768px) {
  .mascot-floating-panel {
    width: 100%;
    flex: none;
    min-height: 300px;
    padding: 1rem;
  }

  .main-mascot {
    width: 180px;
    max-width: 70vw;
  }

  
}